@media (max-width: 576px){
    #error-side{
        .error-center{
            .error-img{
                img{
                    width: 100%;
                }
            }
            .error-text{
                .txt{
                    h3{
                        font-size: 37px;
                    }
                    p{
                        font-size: 20px;
                        padding: 0%;
                        line-height: 25px;
                    }
                }
            }
        }
    }
}