:root{
    --content-cl: #fff;
    --second-content-cl: #000;
    --loader-before-cl: blue;
    --header-bg-cl: #fff;
    --footer-bg-cl: #0E1133;
    --development-bg-cl: #30A820;
    --stars-cl: orange;
    --all-big-img: 30px;
    --all-tab-btn: 50px;
    --all-tab-bg-cl: #EDEEF3 ;
    --all-tab-click-bg-cl : #2B4EFF ;
    --all-description-h3-cl : #0E1133;
    --all-decription-p-cl : #53545b;
    --all-reviews-ratingstar-bg-cl: #f3f4f8;  
    --sidebar-first-widget-bg-cl: #ffffff;
}